html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

html {
  height: 100%; }

body {
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  font-family: "Open Sans", "Sans-Serif";
  font-size: 1rem; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: #45309b;
  color: white; }
  header a {
    color: white;
    text-decoration: none; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: black;
  padding: .5rem; }
  main h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem; }
  main p {
    text-align: justify; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: #45309b;
  color: white; }
  footer p {
    margin: 0;
    padding: 0.5rem; }
  footer a {
    color: white;
    text-decoration: none; }

.listrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  width: 100%; }
  .listrow .listitem {
    padding: 0.5rem; }

@media (max-width: 33em) {
  .listrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .listrow .listitem {
      padding: 1rem 0;
      text-align: center; } }
